/* Basic Style */
body {
    align-items: center;
    margin: 0;
    padding: 0;
    color: #292727;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    display: flex;
    height: 100vh;
}

/* Coming soon styling */
.ComingSoon {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

/* Box */
.ComingSoon h1 {
    font-size: 36px;
    color: #ae5808fa;
    margin-bottom: 10px;
}

/* Text */
.ComingSoon p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 16px;
}

/* Notify Me Data */
.NotifyMe {
    align-items: center;
    display: flex;
    justify-content: center;
   
}

.NotifyMe input {
    width: 70%;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    outline: none;
    padding: 10px;
}

.NotifyMe button {
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #ae5808fa;
    transition: background-color 0.3s ease;
}

.NotifyMe button:hover {
    background-color: #ae5808fa;
}